<img src="https://static.selectdrive.ru/assets/images/logo_ru.png" alt="Selectdrive - аренда автомобилей"/>
<p>Для сброса пароля нажмите на ссылку ниже</p>
<a href="{{> link}}">Ссылка для сброса пароля</a>
