<img src="https://static.selectdrive.ru/assets/images/logo_ru.png" alt="Selectdrive - аренда автомобилей" />
<h1>Новое бронирование</h2>
    <p>Клиент <strong>{{user.firstName}} {{user.lastName}}</strong></p>
    <p>бронирует {{car.carMaker.title}} {{car.model.title}} {{car.number}}</p>
    <p>c {{start}} по {{end}}</p>
    <a href="{{url.allow}}">Принять</a>
    <a href="{{url.deny}}">Отказать</a>